
<body>
    <div class="page-container">
      <div class="logo">
        <img src="../../assets/images/Soile2PlateLogo.png" alt="Logo">
      </div>
  
      <div class="header-container">
        <h1>Account (Farmer)</h1>
      </div>
  
      <div class="links-container">
        <a routerLink="/createProduceListing">Create Listing</a>
        <a routerLink="#">Update Listing (WIP)</a>
        <a routerLink="/updateInfo">Update Info</a>
        <a routerLink="#">Update Payment Methods (WIP)</a>
        <a routerLink="/AboutUs">About Us</a>
      </div>
      <div class="progress-bar-header">
      <h2>Reward Progress</h2>
      </div>
      <div class="wrapper">
        <div class="progress-bar">
          <span class="progress-bar-fill" style="width: 70%;">
            <span class="progress-bar-text">70%</span>
          </span>
        </div>
      </div>
      
    </div>
  </body>
  