<body>
    <div class="page-container">
      <div class="logo">
        <img src="../../assets/images/Soile2PlateLogo.png" alt="Logo">
      </div>
  
        <div class="header-container">
        <h2>About Us:</h2>
      </div>

      <div class="paragraph-container-1">
        <p>At Soil2Plate, we are passionate about connecting consumers with fresh, locally grown produce while prioritizing sustainability and environmental responsibility. We strive to create a positive impact on the planet and support local farmers who share our commitment to ethical practices.</p>
      </div>

      <div class="header-container-1">
        <h2>Our Guarntee:</h2>
      </div>
      <div class="paragraph-container-2">
        <p>We guarantee that the produce you receive is of the highest quality and adheres to ethical standards. Every purchase you make through our app contributes to our carbon offset initiative. We actively invest in verified carbon offset projects, ensuring that your support helps mitigate environmental impact and achieve carbon negativity.</p>
      </div>

      <div class="header-container-2">
        <h2>CO2 Offset:</h2>
      </div>
      <div class="paragraph-container-3">
        <p>We go beyond carbon neutrality. By offsetting the CO2 emissions associated with each purchase, we actively combat climate change and contribute to a healthier planet. Your support enables us to invest in verified carbon offset projects, creating a sustainable future together.
            Join us on this journey towards a greener world. Experience the joy of fresh, locally grown produce while making a positive impact. Together, we can support local farmers, reduce our carbon footprint, and foster a more sustainable and vibrant future for generations to come.
            Welcome to Soil2Plate. Let's make a difference, one bite at a time.</p>
      </div>
    </div>
</body>
